{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/logos/beeDevClassRoom.png">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>{{note.title}}</title>
</head>
<body>
    <header>
        <h1>{{note.title}}</h1>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <nav id="nav">
            {% block menu %} {% include 'menus/loggedMenu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% endif %}
        </div>
        {% for subject in subjects %}
            {% if subject.id == note.subject_id %}
                <h1>{{note.title}} - {{subject.title}}</h1>
            {% else %}
                <h1>{{note.title}}</h1>
            {% endif %}
        {% endfor %}
        <h2>{{school.name}}</h2>
        {% if note.access == 1 %}
            <h3>This is currently a Private Note</h3>
        {% else %}
            <h3>This is currently a Public Note</h3>
        {% endif %}
        <div class="row">
            <div class="column">
                {% if note.content %}
                    <h2>Notes:</h2>
                    <textarea cols="40" rows="20" disabled>{{note.content}}</textarea>
                {% endif %}
            </div>
            <div class="column">
                <img src="{{note.memo.img.url}}" alt="{{note.title}}">
                {% if note.memo.img == 'notebook.png' %}
                    <h3>Currently Default Image</h3>
                {% else %}
                    <h3>Note Image</h3>
                    <button><a href="{{note.memo.img.url}}" download>Download Image</a></button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if note.noteUrl %}
                <a href="{{note.noteUrl}}" target="_blank">External Link to Notes</a>
            {% endif %}
            {% if note.resourceUrl %}
                <a href="{{note.resourceurl" target="_blank">Resource Link</a>
            {% endif %}
        </div>
        <div class="column">
            {% if note.code %}
                <h2>Code</h2>
                <textarea cols="40" rows="20" id='copyCode' disabled>{{note.code}}</textarea>
                <button onclick='copyCode()'>Copy code</button>
            {% endif %}
            {% if note.codeUrl %}
                <a href="{{note.codeUrl">Link to Code</a>
            {% endif %}
        </div>
        {% for user in users %}
            {% if note.user_id == user.id %}
                <h3>Note Created by {{user.firstName}} {{user.lastName}}</h3>
            {% endif %}
        {% endfor %}
        <button type="button" class="collapsible">Other {{school.title}} Notes</button>
        <div class="content">
            <ul>
                {% for note in notes %}
                    <li><a href="/school/{{school.id}}/notes/{{note.id}}/view/">{{note.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'menus/footer.html' %} {% endblock footer %}
    </footer>
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>