<!DOCTYPE html>
<html lang="en">
<body>
    {% block menu %}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <span><img src="{{user.profile.img.url}}" alt="{{user.username}}"><h4>{{user.firstName}}</h4></span>
    <a href="/">Home</a>
    <a href="/schools/">Schools</a>
    <a href="/subjects/">Subjects</a>
    <a href="/notes/">Notes</a>
    <a href="/theAdmin">Admin</a>
    <a href="/theAdmin/school-subject/">Admin - School/Subject</a>
    <a href="/theAdmin/notes/">Admin - Notes</a>
    <button><a href="/logout/">Logout</a></button>
    {% endblock menu %}
</body>
</html>