.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
table,
tr,
th,
td {
  border: 2px double black;
}
th,
td {
  padding: 1em;
  margin: 1em;
  text-align: center;
  min-width: 50px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px groove pink;
  padding: 1em;
  margin: 1em;
}
form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-between;
}
form section label {
  margin: 1em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
body header nav span h4 {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
}
body header nav span img {
  border-radius: 50%;
  width: 40px;
}
body header nav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}
body header nav a:hover {
  color: #f1f1f1;
}
body header nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .messages h1 {
  padding: 1em;
  border: 3px groove pink;
  background-color: #ffc0cb67;
}
body main button {
  background-color: pink;
  padding: 0.5em;
  margin: 1em;
}
body main .collapsible {
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
body main .active,
body main .collapsible:hover {
  background-color: black;
  color: pink;
}
body main .content {
  padding: 18px;
  display: none;
  overflow: hidden;
  width: 50%;
  background-color: #ffc0cb67;
}
body main .content table {
  margin: auto;
}
body main .content .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .content .row .profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}
body main .profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .profileCard img {
  max-width: 200px;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
body main .row .profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}
body main .row .profileCard img {
  max-width: 200px;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
}
body main .row .column img {
  max-width: 300px;
}
body main .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 3em;
}
body main .title img {
  max-width: 100px;
  margin: 0 2em;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body footer p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer p a {
  text-decoration: none;
  color: black;
}
