.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
}
table, tr, th, td {
    border: 1px double black;
}
th, td {
    padding: 1em;
    margin: 1em;
    text-align: center;
    min-width: 50px;
}

body {
    .flexcolumn();

    header {
        .flexcolumn();

        nav {
            height: 90%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: pink;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            padding-bottom: 60px;
            .flexcolumn();

            span {
                .flexrow();
                margin-top: 1em;

                h4 {
                    text-align: center;
                    padding: .5em;
                    margin: .5em;
                }
                img {
                    border-radius: 50%;
                    width: 40px;
                }
            }
            a {
                padding: 8px 8px 8px 8px;
                text-decoration: none;
                font-size: 25px;
                display: block;
                transition: 0.3s;
                }
                a:hover {
                color: #f1f1f1;
                }
                .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                }
        }
    }
    main {
        .flexcolumn();

        button {
            background-color: pink;
            padding: .5em;
            margin: 1em;
        }
        .collapsible {
            background-color: pink;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 50%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }
        .active, .collapsible:hover {
            background-color: black;
            color: pink;
        }
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;

            .row {
                .flexrow();

                .profileCard {
                    .flexcolumn();
                    margin: 1em 2em;
                }
            }
        }
        .profileCard {
            .flexcolumn();

            img {
                max-width: 200px;
            }
        }
        .row {
            .flexrow();

            .profileCard {
                .flexcolumn();
                margin: 1em 2em;

                img {
                    max-width: 200px;
                }
            }
        }
    }
    footer {
        .flexcolumn();

        p {
            .flexrow();

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}