{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/logos/beeDevClassRoom.png">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Edit {{note.title}}</title>
</head>
<body>
    <header>
        <h1>Edit {{note.title}}</h1>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <nav id="nav">
            {% block menu %} {% include 'menus/loggedMenu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row title">
            <h1>{{note.title}}</h1>
            <img src="{{note.memo.img.url}}" alt="{{note.title}}">
        </div>
        <div class="row">
            <div class="column">
                {% if note.access == 1 %}
                    <h3>This is currently a Private Note</h3>
                {% else %}
                    <h3>This is currently a Public Note</h3>
                {% endif %}
                {% if note.content %}
                    <h2>Notes:</h2>
                    <textarea cols="40" rows="20" disabled>{{note.content}}</textarea>
                {% endif %}
            </div>
            <div class="column">
                <form action="/theAdmin/notes/{{note.id}}/update/" method="post">
                    {% csrf_token %}
                    <section>
                        <label for="title">Note Title</label>
                        <input type="text" name="title" value="{{note.title}}">
                    </section>
                    <section>
                        <label for="content">Note Content</label>
                        <textarea name="content" cols="40" rows="20">{{note.content}}</textarea>
                    </section>
                    <button>Update Note</button>
                </form>
                <form action="/theAdmin/notes/{{note.id}}/note-access/update/" method="post">
                    {% csrf_token %}
                    <section>
                        <label for="access">Private Note?</label>
                        <select name="access">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </section>
                    <button>Update Note Privacy</button>
                </form>
            </div>
        </div>
        <button type="button" class="collapsible">Add/Update School/Subject Association</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    {% for school in schools %}
                        {% if school.id == note.school_id %}
                            <h2>{{school.name}}</h2>
                        {% endif %}
                    {% endfor %}
                    {% for subject in subjects %}
                        {% if subject.id == note.subject_id %}
                            <h2>{{subject.title}}</h2>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column">
                    <form action="/theAdmin/notes/{{note.id}}/school/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="school">Chose School Association</label>
                            <select name="school">
                                <option value=""></option>
                                {% for school in schools %}
                                    <option value="{{school.id}}">{{school.name}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <button>Add/Update School</button>
                    </form>
                    <form action="/theAdmin/notes/{{note.id}}/subject/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="subject">Chose Subject</label>
                            <select name="subject">
                                <option value=""></option>
                                {% for subject in subjects %}
                                    <option value="{{subject.id}}">{{subject.title}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <button>Add/Update Subject</button>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Update Note Image</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <img src="{{note.memo.img.url}}" alt="{{note.title}}">
                    {% if note.memo.img == 'notebook.png' %}
                        <h3>Currently Default Image</h3>
                    {% else %}
                        <h3>{{note.memo.img}}</h3>
                    {% endif %}
                </div>
                <div class="column">
                    <h2>Change Note Image</h2>
                    <form action="/theAdmin/notes/{{note.id}}/memo/update/" method='post' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <section>
                            <label for="img">Upload Image</label>
                            <input type="file" name="img" required>
                        </section>
                        <button>Upload/Update Note Image</button>
                    </form>
                </div>
            </div>
        </div>
        <button type="button" class="collapsible">Add/Update Note Links</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h3>Current Note URL:</h3>
                    {% if note.noteUrl %}
                        <a href="{{note.noteUrl}}" target="_blank">External Link to Notes</a>
                    {% else %}
                        <span>N/A</span>
                    {% endif %}
                    <h3>Current Resource URL:</h3>
                    {% if note.resourceUrl %}
                        <a href="{{note.resourceurl" target="_blank">Resource Link</a>
                    {% else %}
                        <span>N/A</span>
                    {% endif %}
                </div>
                <div class="column">
                    <h3>Add URL for Note</h3>
                    <form action="/theAdmin/notes/{{note.id}}/note-url/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="noteUrl">Note URL</label>
                            <input type="text" name="noteUrl" value="noteUrl">
                        </section>
                        <button>Save Note URL</button>
                    </form>
                    <h3>Add Resource Link</h3>
                    <form action="/theAdmin/notes/{{note.id}}/note-resource/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="resourceUrl">Resource URL</label>
                            <input type="text" name="resourceUrl" value="resourceUrl">
                            <button>Save Resource URL</button>
                        </section>
                    </form>
                </div>
            </div>
        </div>
        <button type='button' class="collapsible">Add/Update Code</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h3>Current Code:</h3>
                    {% if note.code %}
                        <h2>Code</h2>
                        <textarea cols="40" rows="20" id='copyCode' disabled>{{note.code}}</textarea>
                    {% else %}
                        <span>N/A</span>
                    {% endif %}
                    <h3>Current Code Link:</h3>
                    {% if note.codeUrl %}
                        <a href="{{note.codeUrl">Link to Code</a>
                    {% else %}
                        <span>N/A</span>
                    {% endif %}
                </div>
                <div class="column">
                    <h3>Add/Update Code</h3>
                    <form action="/theAdmin/notes/{{note.id}}/note-code/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="code">Code</label>
                            <textarea name="code" cols="40" rows="20">{{note.code}}</textarea>
                        </section>
                        <button>Add/Update Code</button>
                    </form>
                    <h3>Add/Update Code Link</h3>
                    <form action="/theAdmin/notes/{{note.id}}/note-codeUrl/update/" method="post">
                        {% csrf_token %}
                        <section>
                            <label for="codeUrl">Code Link</label>
                            <input type="text" name="codeUrl" value="">
                        </section>
                        <button>Add/Update Code Link</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'menus/footer.html' %} {% endblock footer %}
    </footer>
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>