{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/bee/IMG_0992.jpg">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Notes</title>
</head>
<body>
    <header>
        <h1>Notes Application</h1>
        <nav>
            {% block menu %} {% include 'menus/menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div>
            {% if messages %}
            <section class='messages'>
                {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
                {% endfor %}
            </section>
            {% endif %}
        </div>
        <div class="row">
            <form action='/login/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='username'>Username</label>
                    <input name='username' type='text'>
                </section>
                <section>
                    <label for='password'>Password</label>
                    <input name='password' type='password'>
                </section>
                <button>Sign In</button>
            </form>
            <form action='/register/' method='post'>
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName'>
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName'>
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username'>
                </section>
                <section>
                    <label for='password'>Password:</label>
                    <input type='password' name='password'>
                </section>
                <section>
                    <label for='confirm'>Confirm Password</label>
                    <input type='password' name='confirm'>
                </section>
                <section>
                    <label for="regCode">Registration Code</label>
                    <input type="text" name="regCode">
                </section>
                <button>Submit and Login</button>
            </form>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'menus/footer.html' %} {% endblock footer %}
    </footer>
</body>
</html>