{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/bee/IMG_0992.jpg">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Notes</title>
</head>
<body>
    <header>
        <h1>All Notes</h1>
        <nav>
            {% block menu %} {% include 'menus/menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>All Notes</h1>
        <table class="desktop">
            <tr>
                <th>Title</th>
                <th>Associated School</th>
                <th>Subject</th>
                <th>View Note</th>
            </tr>
            {% for note in notes %}
                {% if note.access == 0 %}
                    <tr>
                        <td>{{note.title}}</td>
                        {% for school in schools %}
                            {% if note.school_id == school.id %}
                                <td>{{school.name}}</td>
                            {% endif %}
                        {% endfor %}
                        {% for subject in subjects %}
                            {% if note.subject_id == subject.id %}
                                <td>{{subject.title}}</td>
                            {% endif %}
                        {% endfor %}
                        <td><button><a href="/notes/{{note.id}}/view/">View</a></button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </main>
    <footer>
        {% block footer %} {% include 'menus/footer.html' %} {% endblock footer %}
    </footer>
</body>
</html>