{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/logos/beeDevClassRoom.png">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>{{school.name}}</title>
</head>
<body>
    <header>
        <h1>All Notes for {{school.name}}</h1>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <nav id="nav">
            {% block menu %} {% include 'menus/menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row title">
            <img src="{{school.institution.img.url}}" alt="{{school.name}}">
            <h1>{{school.name}}</h1>
        </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Subject</th>
                <th>View Note</th>
            </tr>
            {% for note in notes %}
                {% if note.access == 0 %}
                    <tr>
                        <td>{{note.title}}</td>
                        <td>
                            {% for subject in subjects %}
                                {% if note.subject_id == subject.id %}
                                    {{subject.title}}
                                {% endif %}
                            {% endfor %}
                            </td>
                        <td><button><a href="/schools/{{school.id}}/notes/{{note.id}}/view">View Note</a></button></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </main>
    <footer>
        {% block footer %} {% include 'menus/footer.html' %} {% endblock footer %}
    </footer>
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>